<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      table {
        margin-top: 20px;
        border-collapse: collapse; /* removes double borders */
      }
      th,
      td {
        border: 1px solid black; /* horizontal + vertical lines */
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h2>URL Shortener</h2>

    <% if(locals.id) { %>
    <p><%= id %></p>
    <% } %>

    <div>
      <form method="post" action="/url">
        <label>enter the original URL : </label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit" style="margin-left: 10px">submit</button>
      </form>
    </div>

    <% if(locals.url) { %>
    <h3 style="margin-top: 50px;">Current Entries in the Database</h3>
    <table>
      <th>Sr.No</th>
      <th>Redirect URL</th>
      <th>Short URL</th>
      <th>Total Visits</th>

      <% url.forEach((data,index) => { %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= data.redirectURL %></td>
        <td><%= data.shortId %></td>
        <td><%= data.visitHistory.length %></td>
      </tr>
      <% }) %>
    </table>
    <% } %>
  </body>
</html>
